@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

:root {
    --color-primary: #e6ccff;
}

* {
    font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}
